In [1]:
# Import packages/ modules
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import earthpy as et
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import seaborn as sns
import datetime
from textwrap import wrap

# Handle date time conversions between pandas and matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Use white grid plot background from seaborn
sns.set(font_scale=1.5, style="whitegrid")

In [2]:
# Conditional statement to check and set working directory. 
ea_path = os.path.join(et.io.HOME, 'earth-analytics')

if os.path.exists(ea_path):
    os.chdir(ea_path)
    print("working directory is set to earth-analytics") 
else:     
    print("This path does not exist")
    
# Set base path to download data 
base_path = os.path.join(ea_path, "data")
base_path

working directory is set to earth-analytics

'C:\\Users\\bina_\\earth-analytics\\data'

In [9]:
# Files to download for further analysis
# Define relative path to files
file_path1 = os.path.join(base_path,"output_figures","sandiego_2014_fires", "air_quality_csv",                     
                         "sd_combined_data_2014.csv")

# To check if path is created
os.path.exists(file_path1)

True

In [10]:
# Import csv files into dataframe and ensure date time is imported properly.
sd_2014_df = pd.read_csv(file_path1, parse_dates=['Date Local'],
                                index_col=['Date Local'])
sd_2014_df.head()

,Temp_mean,temp_sem,RH_mean,RH_sem,Pres_mean,Pres_sem,wind_mean,wind_sem,O3_ppm_mean,O3_ppb_mean,O3_sem,NO2_mean,NO2_sem,PM2.5_mean,PM2.5_sem,CO_mean,CO_sem
Date Local,,,,,,,,,,,,,,,,,
2014-01-01,55.489583,1.309491,42.916666,13.112560,999.845833,NaN,90.233565,22.277571,0.022278,22.278182,0.003167,18.373518,2.823354,60.135417,7.557420,0.902183,0.177094
2014-01-02,58.156250,1.655276,40.027778,10.834838,998.504167,NaN,84.944213,20.699350,0.018206,18.205909,0.002744,22.438928,3.099723,20.370473,1.022282,0.947633,0.069862
2014-01-03,57.661458,1.320798,44.597222,9.838550,996.229167,NaN,81.395833,19.529677,0.017753,17.753455,0.002696,24.411817,3.093049,19.813596,3.520073,0.970017,0.077705
2014-01-04,57.651042,0.626978,54.402778,12.489448,996.170833,NaN,79.122222,19.302119,0.021888,21.887636,0.002622,20.027809,2.733161,23.810417,0.579792,0.825603,0.055081
2014-01-05,59.765625,1.247342,38.708333,11.079756,999.791667,NaN,70.098843,16.718359,0.024241,24.240636,0.002934,18.920666,3.044514,20.032639,0.828190,0.841809,0.070696

In [12]:
# import matplotlib.pyplot as plt

# import pandas
# from pandas.tools import plotting

from statsmodels.formula.api import ols

In [ ]:
# # Express the names as categories
# categories = pd.plotting.Categorical(sd_2014_df)

# # The parameter 'c' is passed to plt.scatter and will control the color
# plotting.scatter_matrix(data, c=categories.codes, marker='o')

# fig = plt.gcf()
# fig.suptitle("blue: setosa, green: versicolor, red: virginica", size=13)

In [15]:
sd_2014_df.reset_index(inplace = True)
sd_2014_df.head()
# pd.plotting.scatter_matrix(sd_2014_df)

,Date Local,Temp_mean,temp_sem,RH_mean,RH_sem,Pres_mean,Pres_sem,wind_mean,wind_sem,O3_ppm_mean,O3_ppb_mean,O3_sem,NO2_mean,NO2_sem,PM2.5_mean,PM2.5_sem,CO_mean,CO_sem
0,2014-01-01,55.489583,1.309491,42.916666,13.112560,999.845833,NaN,90.233565,22.277571,0.022278,22.278182,0.003167,18.373518,2.823354,60.135417,7.557420,0.902183,0.177094
1,2014-01-02,58.156250,1.655276,40.027778,10.834838,998.504167,NaN,84.944213,20.699350,0.018206,18.205909,0.002744,22.438928,3.099723,20.370473,1.022282,0.947633,0.069862
2,2014-01-03,57.661458,1.320798,44.597222,9.838550,996.229167,NaN,81.395833,19.529677,0.017753,17.753455,0.002696,24.411817,3.093049,19.813596,3.520073,0.970017,0.077705
3,2014-01-04,57.651042,0.626978,54.402778,12.489448,996.170833,NaN,79.122222,19.302119,0.021888,21.887636,0.002622,20.027809,2.733161,23.810417,0.579792,0.825603,0.055081
4,2014-01-05,59.765625,1.247342,38.708333,11.079756,999.791667,NaN,70.098843,16.718359,0.024241,24.240636,0.002934,18.920666,3.044514,20.032639,0.828190,0.841809,0.070696

In [21]:
sd_2014_df.drop(columns=["Pres_sem"], inplace = True)
sd_2014_df.head()

,Date Local,Temp_mean,temp_sem,RH_mean,RH_sem,Pres_mean,wind_mean,wind_sem,O3_ppm_mean,O3_ppb_mean,O3_sem,NO2_mean,NO2_sem,PM2.5_mean,PM2.5_sem,CO_mean,CO_sem
0,2014-01-01,55.489583,1.309491,42.916666,13.112560,999.845833,90.233565,22.277571,0.022278,22.278182,0.003167,18.373518,2.823354,60.135417,7.557420,0.902183,0.177094
1,2014-01-02,58.156250,1.655276,40.027778,10.834838,998.504167,84.944213,20.699350,0.018206,18.205909,0.002744,22.438928,3.099723,20.370473,1.022282,0.947633,0.069862
2,2014-01-03,57.661458,1.320798,44.597222,9.838550,996.229167,81.395833,19.529677,0.017753,17.753455,0.002696,24.411817,3.093049,19.813596,3.520073,0.970017,0.077705
3,2014-01-04,57.651042,0.626978,54.402778,12.489448,996.170833,79.122222,19.302119,0.021888,21.887636,0.002622,20.027809,2.733161,23.810417,0.579792,0.825603,0.055081
4,2014-01-05,59.765625,1.247342,38.708333,11.079756,999.791667,70.098843,16.718359,0.024241,24.240636,0.002934,18.920666,3.044514,20.032639,0.828190,0.841809,0.070696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,49.895833,0.775645,35.305555,7.403716,1005.520833,75.965104,19.734542,0.025068,25.068273,0.002309,12.637175,2.690327,10.583333,2.071035,0.593211,0.026511
361,2014-12-28,49.015625,0.782566,44.861111,8.270259,1004.070833,73.267969,18.650098,0.024592,24.592364,0.002527,12.066559,2.222872,14.153373,2.414931,0.557922,0.074743
362,2014-12-29,50.598958,0.784109,65.041667,4.927659,999.845833,71.873177,18.047751,0.026697,26.696600,0.002951,15.172639,1.702158,13.941591,2.176999,0.646429,0.113613
363,2014-12-30,50.969940,1.137981,81.541667,2.084306,995.670833,90.266711,22.196938,0.035604,35.604200,0.002783,10.644582,1.441519,6.630470,0.282811,0.424365,0.036886
364,2014-12-31,44.108631,1.050504,70.902778,2.958268,995.345833,72.642634,19.303223,0.024454,24.454455,0.001576,9.932150,1.697819,16.916244,3.297116,0.428748,0.052182

In [27]:
# remove index on data  and remove NAN
# pd.plotting.Categorical.scatter_matrix(sd_2014_df)
colors = ["yellow", "red", "green"]
pd.plotting.scatter_matrix(sd_2014_df, c=sd_2014_df.Survived.apply(lambda x:colors[x])
)


plt.show()

AttributeError: 'DataFrame' object has no attribute 'Survived'

In [ ]:
# remove index on data  and remove NAN
# pd.plotting.Categorical.scatter_matrix(sd_2014_df)
colors = ["yellow", "red", "green"]
pd.plotting.scatter_matrix(sd_2014_df, c=sd_2014_df.Survived.apply(lambda x:colors[x])
)


plt.show()