In [1]:
# Import packages/ modules
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import earthpy as et
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import seaborn as sns
import datetime
from textwrap import wrap

# Handle date time conversions between pandas and matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Use white grid plot background from seaborn
sns.set(font_scale=1.5, style="whitegrid")

In [2]:
# Conditional statement to check and set working directory. 
ea_path = os.path.join(et.io.HOME, 'earth-analytics')

if os.path.exists(ea_path):
    os.chdir(ea_path)
    print("working directory is set to earth-analytics") 
else:     
    print("This path does not exist")
    
# Set base path to download data 
base_path = os.path.join(ea_path, "data")
base_path

working directory is set to earth-analytics

'C:\\Users\\bina_\\earth-analytics\\data'

In [9]:
# Files to download for further analysis
# Define relative path to files
file_path1 = os.path.join(base_path,"output_figures","sandiego_2014_fires", "air_quality_csv",                     
                         "sd_combined_data_2014.csv")

# To check if path is created
os.path.exists(file_path1)

True

In [10]:
# Import csv files into dataframe and ensure date time is imported properly.
sd_2014_df = pd.read_csv(file_path1, parse_dates=['Date Local'],
                                index_col=['Date Local'])
sd_2014_df.head()

,Temp_mean,temp_sem,RH_mean,RH_sem,Pres_mean,Pres_sem,wind_mean,wind_sem,O3_ppm_mean,O3_ppb_mean,O3_sem,NO2_mean,NO2_sem,PM2.5_mean,PM2.5_sem,CO_mean,CO_sem
Date Local,,,,,,,,,,,,,,,,,
2014-01-01,55.489583,1.309491,42.916666,13.112560,999.845833,NaN,90.233565,22.277571,0.022278,22.278182,0.003167,18.373518,2.823354,60.135417,7.557420,0.902183,0.177094
2014-01-02,58.156250,1.655276,40.027778,10.834838,998.504167,NaN,84.944213,20.699350,0.018206,18.205909,0.002744,22.438928,3.099723,20.370473,1.022282,0.947633,0.069862
2014-01-03,57.661458,1.320798,44.597222,9.838550,996.229167,NaN,81.395833,19.529677,0.017753,17.753455,0.002696,24.411817,3.093049,19.813596,3.520073,0.970017,0.077705
2014-01-04,57.651042,0.626978,54.402778,12.489448,996.170833,NaN,79.122222,19.302119,0.021888,21.887636,0.002622,20.027809,2.733161,23.810417,0.579792,0.825603,0.055081
2014-01-05,59.765625,1.247342,38.708333,11.079756,999.791667,NaN,70.098843,16.718359,0.024241,24.240636,0.002934,18.920666,3.044514,20.032639,0.828190,0.841809,0.070696

In [12]:
# import matplotlib.pyplot as plt

# import pandas
# from pandas.tools import plotting

from statsmodels.formula.api import ols

In [ ]:
# # Express the names as categories
# categories = pd.plotting.Categorical(sd_2014_df)

# # The parameter 'c' is passed to plt.scatter and will control the color
# plotting.scatter_matrix(data, c=categories.codes, marker='o')

# fig = plt.gcf()
# fig.suptitle("blue: setosa, green: versicolor, red: virginica", size=13)

In [15]:
sd_2014_df.reset_index(inplace = True)
sd_2014_df.head()
# pd.plotting.scatter_matrix(sd_2014_df)

,Date Local,Temp_mean,temp_sem,RH_mean,RH_sem,Pres_mean,Pres_sem,wind_mean,wind_sem,O3_ppm_mean,O3_ppb_mean,O3_sem,NO2_mean,NO2_sem,PM2.5_mean,PM2.5_sem,CO_mean,CO_sem
0,2014-01-01,55.489583,1.309491,42.916666,13.112560,999.845833,NaN,90.233565,22.277571,0.022278,22.278182,0.003167,18.373518,2.823354,60.135417,7.557420,0.902183,0.177094
1,2014-01-02,58.156250,1.655276,40.027778,10.834838,998.504167,NaN,84.944213,20.699350,0.018206,18.205909,0.002744,22.438928,3.099723,20.370473,1.022282,0.947633,0.069862
2,2014-01-03,57.661458,1.320798,44.597222,9.838550,996.229167,NaN,81.395833,19.529677,0.017753,17.753455,0.002696,24.411817,3.093049,19.813596,3.520073,0.970017,0.077705
3,2014-01-04,57.651042,0.626978,54.402778,12.489448,996.170833,NaN,79.122222,19.302119,0.021888,21.887636,0.002622,20.027809,2.733161,23.810417,0.579792,0.825603,0.055081
4,2014-01-05,59.765625,1.247342,38.708333,11.079756,999.791667,NaN,70.098843,16.718359,0.024241,24.240636,0.002934,18.920666,3.044514,20.032639,0.828190,0.841809,0.070696

In [21]:
sd_2014_df.drop(columns=["Pres_sem"], inplace = True)
sd_2014_df.head()

,Date Local,Temp_mean,temp_sem,RH_mean,RH_sem,Pres_mean,wind_mean,wind_sem,O3_ppm_mean,O3_ppb_mean,O3_sem,NO2_mean,NO2_sem,PM2.5_mean,PM2.5_sem,CO_mean,CO_sem
0,2014-01-01,55.489583,1.309491,42.916666,13.112560,999.845833,90.233565,22.277571,0.022278,22.278182,0.003167,18.373518,2.823354,60.135417,7.557420,0.902183,0.177094
1,2014-01-02,58.156250,1.655276,40.027778,10.834838,998.504167,84.944213,20.699350,0.018206,18.205909,0.002744,22.438928,3.099723,20.370473,1.022282,0.947633,0.069862
2,2014-01-03,57.661458,1.320798,44.597222,9.838550,996.229167,81.395833,19.529677,0.017753,17.753455,0.002696,24.411817,3.093049,19.813596,3.520073,0.970017,0.077705
3,2014-01-04,57.651042,0.626978,54.402778,12.489448,996.170833,79.122222,19.302119,0.021888,21.887636,0.002622,20.027809,2.733161,23.810417,0.579792,0.825603,0.055081
4,2014-01-05,59.765625,1.247342,38.708333,11.079756,999.791667,70.098843,16.718359,0.024241,24.240636,0.002934,18.920666,3.044514,20.032639,0.828190,0.841809,0.070696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,49.895833,0.775645,35.305555,7.403716,1005.520833,75.965104,19.734542,0.025068,25.068273,0.002309,12.637175,2.690327,10.583333,2.071035,0.593211,0.026511
361,2014-12-28,49.015625,0.782566,44.861111,8.270259,1004.070833,73.267969,18.650098,0.024592,24.592364,0.002527,12.066559,2.222872,14.153373,2.414931,0.557922,0.074743
362,2014-12-29,50.598958,0.784109,65.041667,4.927659,999.845833,71.873177,18.047751,0.026697,26.696600,0.002951,15.172639,1.702158,13.941591,2.176999,0.646429,0.113613
363,2014-12-30,50.969940,1.137981,81.541667,2.084306,995.670833,90.266711,22.196938,0.035604,35.604200,0.002783,10.644582,1.441519,6.630470,0.282811,0.424365,0.036886
364,2014-12-31,44.108631,1.050504,70.902778,2.958268,995.345833,72.642634,19.303223,0.024454,24.454455,0.001576,9.932150,1.697819,16.916244,3.297116,0.428748,0.052182

In [27]:
# remove index on data  and remove NAN
# pd.plotting.Categorical.scatter_matrix(sd_2014_df)
colors = ["yellow", "red", "green"]
pd.plotting.scatter_matrix(sd_2014_df, c=sd_2014_df.Survived.apply(lambda x:colors[x])
)


plt.show()

AttributeError: 'DataFrame' object has no attribute 'Survived'

In [28]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [29]:
file_path2 = os.path.join(base_path,"Stock_data", "datasets_4458_8204_winequality-red.csv")
file_path3 = os.path.join(base_path,"Stock_data", "operations.csv")
# To check if path is created
os.path.exists(file_path3)

True

In [32]:
dataset= pd.read_csv(file_path3)
dataset.shape

C:\Users\bina_\Miniconda3\envs\earth-analytics-python\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (7,8,11,13,31,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(178281, 46)

In [33]:
dataset2= pd.read_csv(file_path2)
dataset2.shape

(1599, 12)

In [34]:
dataset.describe()

,Mission ID,Takeoff Longitude,Target Latitude,Target Longitude,Altitude (Hundreds of Feet),Airborne Aircraft,Attacking Aircraft,Bombing Aircraft,Aircraft Returned,Aircraft Failed,...,High Explosives Weight (Tons),Incendiary Devices,Incendiary Devices Weight (Pounds),Incendiary Devices Weight (Tons),Fragmentation Devices,Fragmentation Devices Weight (Pounds),Fragmentation Devices Weight (Tons),Total Weight (Pounds),Total Weight (Tons),Source ID
count,178281.000000,2980.000000,169565.000000,169543.000000,120826.000000,82242.000000,125108.000000,81612.000000,133.000000,247.000000,...,146201.000000,3283.000000,356.000000,25732.000000,5768.000000,194.000000,16902.000000,2.119000e+03,166508.000000,174236.000000
mean,89414.547041,220.618627,38.067793,43.340213,139.026812,12.329771,10.218899,12.347486,2.157895,4.275304,...,23.911995,132.001965,19962.732022,21.527213,102.684560,2065.630928,12.017136,1.237718e+04,25.760326,152670.902322
std,51649.744549,454.046956,18.711405,59.681160,186.818278,12.514833,11.246399,12.573549,1.369816,5.924758,...,90.092020,498.596761,45331.714255,66.692639,158.941650,2424.138566,27.221410,2.064155e+05,90.643876,105544.795936
min,1.000000,-177.328611,-37.416667,-179.451285,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.000000
25%,44571.000000,14.400000,26.250000,7.620000,70.000000,2.000000,2.000000,2.000000,1.000000,1.000000,...,2.000000,7.000000,218.750000,1.000000,10.000000,598.400000,1.000000,2.100000e+03,2.000000,53476.500000
50%,89540.000000,29.851389,47.500000,11.330000,122.000000,11.000000,7.000000,11.000000,2.000000,2.000000,...,9.000000,14.000000,2640.000000,6.000000,38.461538,1500.000000,3.000000,5.200000e+03,9.290000,167604.500000
75%,134171.000000,96.133222,50.930000,97.400000,223.000000,17.000000,12.000000,18.000000,3.000000,4.000000,...,30.000000,32.000000,12500.000000,18.000000,133.333333,2400.000000,12.000000,1.080000e+04,31.000000,211284.250000
max,178742.000000,1355.000000,1108.000000,1000.650000,40000.000000,332.000000,332.000000,332.000000,7.000000,48.000000,...,20000.000000,4875.000000,420000.000000,999.000000,3000.000000,20640.000000,900.000000,9.500000e+06,20000.000000,699625.000000

In [36]:
# dataset.plot(x='MinTemp', y='MaxTemp', style='o')  
# plt.title('MinTemp vs MaxTemp')  
# plt.xlabel('MinTemp')  
# plt.ylabel('MaxTemp')  
# plt.show()

In [37]:
dataset2.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [38]:
dataset2.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [39]:
#Once the above code is executed, all the columns should give False, 
# In case for any column you find True result, 
#then remove all the null values from that column using below code.
dataset2 = dataset.fillna(method='ffill')

In [40]:
#Our next step is to divide the data into “attributes” and “labels”. 
#X variable contains all the attributes/features and y variable contains labels.

X = dataset2[['fixed acidity', 'volatile acidity', 'citric acid', 
              'residual sugar', 'chlorides', 'free sulfur dioxide', 
              'total sulfur dioxide', 'density', 'pH', 
              'sulphates','alcohol']].values
y = dataset2['quality'].values

KeyError: "None of [Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',\n       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',\n       'pH', 'sulphates', 'alcohol'],\n      dtype='object')] are in the [columns]"

In [41]:
plt.figure(figsize=(15,10))
plt.tight_layout()
seabornInstance.distplot(dataset['quality'])

KeyError: 'quality'

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

NameError: name 'X' is not defined